---
import { Particles } from "@/components/magicui/particles";
---

<Particles
  className="absolute inset-0 z-0"
  quantity={200}
  ease={80}
  refresh
  client:load
/>

<section
  class="relative min-h-responsive z-10 grid place-content-center mx-auto"
>
  <h1>proximadamente</h1>
</section>
