---
// about
import { Particles } from "@/components/magicui/particles";
import { BorderBeam } from "../magicui/border-beam";
import ImgAbout from "./ImgAbout"
---

<Particles
  className="absolute inset-0 z-0"
  quantity={100}
  ease={80}
  color="black"
  refresh
  client:visible
/>
<section id="about-section" class="min-h-responsive z-10 grid place-items-center p-4 md:p-8">
  <div class="container mx-auto grid md:grid-cols-2 gap-8 items-center bg-white/80 dark:bg-black/80 p-6 md:p-10 rounded-xl shadow-xl backdrop-blur-md">
    <div class="flex justify-center">
      <ImgAbout client:load/>
  </div>
    <div class="text-gray-700 dark:text-gray-300">
      <h2 class="text-3xl md:text-4xl font-bold mb-4 text-center md:text-left text-amber-600 dark:text-amber-500">Sobre Mí</h2>
      <div class="prose prose-lg dark:prose-invert prose-p:text-gray-700 dark:prose-p:text-gray-300 max-w-none">
        <p class="text-base md:text-lg mb-4">
         ¡Hola! ✌🏼 Soy Daniel Uribe, un Desarrollador Full Stack Junior formado en la Fundación Forge. Desde que conocí la programación, supe que quería dedicarme a realizar soluciones que no solo funcionen, sino que supongan, además, un verdadero valor para los usuarios finales.
        </p>
        <p class="text-base md:text-lg mb-4">
          Soy una persona que le gusta aprender, estar en constante movimiento y experimentar con nuevas tecnologías. Me gusta enfrentarme a retos que exigen análisis, lógica y creatividad; siempre estoy buscando mejorar el resultado de lo que desarrolle. Me enfoco en el frontend para poder ofrecer experiencias limpias e intuitivas, y en el backend para poder desarrollar código eficiente, seguro y claro.
        </p>
        <p class="text-base md:text-lg">
          Lo que me diferencia son la atención al detalle, la mentalidad de mejora constante en mí mismo y la capacidad de trabajar en equipo, adaptándome con rapidez a diferentes entornos. Para mí, cada proyecto es una oportunidad para crecer, unir ideas y transformar las líneas de código que escribo en soluciones funcionales y humanas.
        </p>
      </div>
    </div>
    <BorderBeam duration={15} size={100} delay={1} client:idle/>
  </div>
</section>


<style>

</style>

