---
// about
import { Particles } from "@/components/magicui/particles";
---

<Particles
  className="absolute inset-0 z-0"
  quantity={100}
  ease={80}
  color="black"
  refresh
  client:visible
/>
<section id="about-section" class="min-h-screen z-10 grid place-items-center">
  
</section>


<style>

</style>

