---
// about
import { Particles } from "@/components/magicui/particles";
import { BorderBeam } from "../magicui/border-beam";
---

<Particles
  className="absolute inset-0 z-0"
  quantity={100}
  ease={80}
  color="black"
  refresh
  client:visible
/>
<section id="about-section" class="min-h-responsive z-10 grid place-items-center p-4 md:p-8">
  <div class="container mx-auto grid md:grid-cols-2 gap-8 items-center bg-white/80 dark:bg-black/80 p-6 md:p-10 rounded-xl shadow-xl backdrop-blur-md">
    <div class="flex justify-center">
      <img src="/About.svg" alt="Acerca de mí" class="w-full max-w-md h-auto rounded-lg shadow-lg" />
    </div>
    <div class="text-gray-700 dark:text-gray-300">
      <h2 class="text-3xl md:text-4xl font-bold mb-4 text-center md:text-left text-amber-600 dark:text-amber-500">Sobre Mí</h2>
      <p class="text-base md:text-lg leading-relaxed mb-4">
        Aquí puedes escribir una descripción sobre ti. Este texto es editable y puedes 
        personalizarlo para que refleje tu personalidad y experiencia. 
        ¡Cuenta tu historia!
      </p>
      <p class="text-base md:text-lg leading-relaxed">
        Puedes añadir más párrafos aquí si lo necesitas. Adapta el contenido a tus 
        necesidades para presentarte de la mejor manera posible.
      </p>
    </div>
    <BorderBeam duration={15} size={100} delay={1} client:idle/>
  </div>
</section>


<style>

</style>

