---

import {DockComponent} from "../components/dock/DockComponent.tsx"

import Layout from "../layouts/Layout.astro"
---

<Layout title="dock">    
    <main class="mx-auto grid place-items-center relative">
    </main>
</Layout>
