---
import Layout from "../layouts/Layout.astro";
import { About, Contact, Courses, Header, Skill } from "../components";
import { SectionPages } from "@/components/dock/SectionPages";
---

<Layout title="FoTrix - Portaflio">
  <main>
    <SectionPages client:visible />
    <!-- implement -->
    <Header />
    <Courses />
    <About />
    <Contact />
  </main>
</Layout>
