---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Skill from '../components/Skill.astro';

---

<Layout title="FoTrix - Portaflio">
  <main class="space-y-30">
    <Header />
    <Skill/>
  </main>
</Layout>

