---
import Layout from "../layouts/Layout.astro";
import { About, Contact, Skill, Header, Courses } from "../components";
import { SectionPages } from "@/components/dock/SectionPages";


---

<Layout title="FoTrix - Portafolio">
  <main>
  <SectionPages client:idle />
  <Header />
  <!-- implement -->
  <About />
  <Skill />
  <Courses />
  <Contact />
  <!-- implement -->
  </main>
</Layout>
