---
import Layout from "../layouts/Layout.astro";
import { About, Contact, Courses, Header, Skill } from "../components";
import { SectionPages } from "@/components/dock/SectionPages";


---

<Layout title="FoTrix - Portafolio">
  <main>
    <Header />
    <!-- implement -->
    <Courses />
    <About />
    <Contact />
    <!-- implement -->
  
  </main>
</Layout>
