---
import Layout from "../layouts/Layout.astro";
import { About, Contact, Courses, Header, Skill } from "../components";
import { DockComponent } from "@/components/dock/DockComponent";
import { Meteors } from "@/components/magicui/meteors";

---

<Layout title="FoTrix - Portaflio">
  <main>

    <DockComponent client:visible />
    <!-- implement -->
    <Meteors number={30} client:visible/>
    <Header />
    <Courses />
    <About />
    <Contact />
  </main>
</Layout>


