---
import { AuroraText } from "../magicui/aurora-text";
import Form from "./Form";
---



<section id="contact-section" class="min-h-dvh grid place-content-center">
    <div class="container flex flex-col md:flex-row gap-6 mx-auto p-4">
      <div class="w-full md:w-2/5 text-center md:text-left grid place-items-center">
       <AuroraText className="roboto-800 lg:text-4xl text-2xl">¡Envia tu Correo! </AuroraText>
      </div>
      <div class="w-full md:w-3/5 flex">
        <Form client:load/>
      </div>
    </div>

</section>