---
import Skill from "../skill/Skill.astro";
import { Particles } from "@/components/magicui/particles";
// courses
---

<Particles
  className="absolute inset-0 z-0"
  quantity={100}
  ease={80}
  color="black"
  refresh
  client:visible
/>
<section
  id="courses-section"
  class="min-h-screen z-10 relative overflow-hidden w-full grid place-items-center"
>
  <Skill />
</section>
