---





---
{
}
<section id="courses-section" class="min-h-responsive w-full flex justify-center items-center px-2">
  <!-- en gradient color quiero cambiar el color segun el tema -->
        <div class="flex justify-center items-center h-full"> 
          </div>
</section>


