---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<article
  class="grid h-16 w-16 z-10 place-items-center p-2 rounded-md relative"
>
  <div class="absolute -z-10 size-full rounded-md bg-neutral-900"></div>
  <Icon name={icon} size={"full"} />
</article>
